<div class="user-management-container">
    <div class="user-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{ 'USER-MANAGEMENT.TABLE.ID' | transloco }}</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>{{ 'USER-MANAGEMENT.TABLE.USERNAME' | transloco }}</th>
                <td mat-cell *matCellDef="let user">{{ user.username }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>{{ 'USER-MANAGEMENT.TABLE.MAIL' | transloco }}</th>
                <td mat-cell *matCellDef="let user">{{ user.mail }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>{{ 'USER-MANAGEMENT.TABLE.ROLE' | transloco }}</th>
                <td mat-cell *matCellDef="let user">{{ user.role_level }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'USER-MANAGEMENT.TABLE.ACTIONS' | transloco }}</th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button [matMenuTriggerFor]="userMenu" [matMenuTriggerData]="{ user: user }"
                        aria-label="User actions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

            <mat-menu #userMenu="matMenu">
                <ng-template matMenuContent let-user="user">
                    <button mat-menu-item (click)="editUser(user)">
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'USER-MANAGEMENT.TABLE.ACTIONS-EDIT' | transloco }}</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user)">
                        <mat-icon color="warn">delete</mat-icon>
                        <span>{{ 'USER-MANAGEMENT.TABLE.ACTIONS-DELETE' | transloco }}</span>
                    </button>
                    <button mat-menu-item (click)="resetPassword(user)">
                        <mat-icon>key</mat-icon>
                        <span>{{ 'USER-MANAGEMENT.TABLE.ACTIONS-RESET' | transloco }}</span>
                    </button>
                </ng-template>
            </mat-menu>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let user; columns: displayedColumns;" (click)="selectUser(user)"
                [class.selected]="selectedUser === user"></tr>
        </table>
    </div>

    <div class="logs-table-container" *ngIf="selectedUser">
        <h2>{{ 'USER-MANAGEMENT.LOGS.TITLE' | transloco }}: {{ selectedUser.username }}</h2>
        <table mat-table [dataSource]="logsDataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.ID' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.id }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.ACTION' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.action }}</td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.TIMESTAMP' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.timestamp | date: 'short' }}</td>
            </ng-container>

            <ng-container matColumnDef="ip_address">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.IP-ADDRESS' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.ip_address }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.STATUS' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.status }}</td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>{{ 'LOGS.DETAILS' | transloco }}</th>
                <td mat-cell *matCellDef="let log">{{ log.details }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="logsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let log; columns: logsDisplayedColumns;"></tr>
        </table>
    </div>
</div>