<div class="main">
    <div class="chat-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span>{{'CHAT.MODEL.TITLE' | transloco}} <mat-icon
                            class="icon-spacing">construction</mat-icon></span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="chat-container">
                    <div class="message" *ngFor="let message of messages"
                        [ngClass]="{ 'sender': message.role === 'user', 'receiver': message.role === 'assistant' }">
                        <mat-card>
                            <mat-card-content>
                                {{ message.content }}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <mat-divider *ngIf="messages.length > 0"></mat-divider>
                    <div class="user-input">
                        <mat-form-field appearance="outline">
                            <textarea matInput [placeholder]="'CHAT.INPUT' | transloco" [(ngModel)]="userInput"
                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20">
                            </textarea>
                        </mat-form-field>
                        <button mat-button [disabled]="!userInput" (click)="sendMessage()">
                            <mat-icon>reply</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="settings-card">
        <div class="model-card">
            <app-settings-card></app-settings-card>
        </div>
        <div class="system-card">
            <app-system-message-card (prompt)="onPromptsChange($event)"></app-system-message-card>
        </div>
    </div>
</div>