<div class="main">
    <div class="chat-card" [ngClass]="{ 'collapsed': !isCollapsed, 'expanded': isCollapsed }">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span>
                        {{ 'CHAT.MODEL.TITLE' | transloco }}
                        <mat-icon class="icon-spacing">construction</mat-icon>
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="chat-container">
                    <div class="message" *ngFor="let message of messages" [ngClass]="{
                'sender': message.role === 'user',
                'receiver': message.role === 'assistant'
              }">
                        <img *ngIf="message.role === 'user' && userProfile?.picture" [src]="userProfile?.picture"
                            class="profile-picture" alt="User profile picture" />
                        <mat-icon *ngIf="message.role === 'assistant'" class="profile-picture">smart_toy</mat-icon>
                        <mat-card>
                            <mat-card-content>
                                <div class="message-text">{{ message.content }}</div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="message receiver typing" *ngIf="isTyping">
                        <mat-icon class="profile-picture">smart_toy</mat-icon>
                        <mat-card>
                            <mat-card-content>
                                <div class="typing-indicator">
                                    <span></span><span></span><span></span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <mat-divider *ngIf="messages.length > 0"></mat-divider>

                    <div class="user-input">
                        <mat-form-field appearance="outline">
                            <textarea matInput [placeholder]="'CHAT.INPUT' | transloco" [(ngModel)]="userInput"
                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"></textarea>
                        </mat-form-field>
                        <button mat-button [disabled]="!userInput.trim()" (click)="sendMessage()">
                            <mat-icon>reply</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="settings-card">
        <div class="model-card">
            <app-settings-card></app-settings-card>
        </div>
        <div class="system-card">
            <app-system-message-card (prompt)="onPromptsChange($event)"></app-system-message-card>
        </div>
    </div>
</div>