<div class="main">
    <form [formGroup]="registrationForm" (ngSubmit)="createUser()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'REGISTER.USERNAME' | transloco }}</mat-label>
            <input matInput [placeholder]="'REGISTRATION.PLACEHOLDER-USERNAME' | transloco" formControlName="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'REGISTER.EMAIL' | transloco }}</mat-label>
            <input matInput placeholder="ai@chat.com" formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'REGISTER.PASSWORD' | transloco }}</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ 'REGISTER.CONFIRM-PASSWORD' | transloco }}</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
                required />
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid || isLoading">
                <mat-icon *ngIf="!isLoading">person_add</mat-icon>
                <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20"
                    color="accent"></mat-progress-spinner>
                <span *ngIf="!isLoading">{{ 'REGISTER.BUTTON' | transloco }}</span>
            </button>
        </div>

        <div class="additional-actions">
            <span>{{ 'REGISTER.ALREADY-HAVE-ACCOUNT' | transloco }}</span>
            <a href="#" (click)="closeRegistration($event)">{{ 'REGISTER.BACK-LOGIN' | transloco }}</a>
        </div>
    </form>
</div>