<div class="person" *ngIf="userProfile">
    <mat-card class="user-card">
        <mat-card-header>
            <div mat-card-avatar class="user-avatar">
                <img [src]="userProfile.picture" loading="lazy" alt="User profile picture" />
            </div>
            <mat-card-title>
                {{ userProfile.name }}
            </mat-card-title>
            <mat-card-subtitle>{{ userProfile.email }}</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <div class="user-details">
                <p *ngFor="let field of userProfileFields">
                    <strong>{{ field.labelKey | transloco }}</strong>:
                    <span *ngFor="let key of objectKeys(field); let isLast = last" [hidden]="key === 'labelKey'">
                        {{ field[key] }}<span *ngIf="!isLast">, </span>
                    </span>
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>