@use "@angular/material" as mat;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$dark-primary: mat.define-palette(mat.$grey-palette);
$dark-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
      background: mat.get-color-from-palette($dark-primary, 900),
      surface: mat.get-color-from-palette($dark-primary, 800),
    ),
    typography: mat.define-typography-config(),
  )
);

:root {
  --sender-card-bg: #cccccc;
  --receiver-card-bg: #e0e0e0;
}

%snackbar-base {
  color: white;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.snackbar {
  &-error {
    @extend %snackbar-base;
    background-color: #f44336;
  }
  &-success {
    @extend %snackbar-base;
    background-color: #4caf50;
  }
  &-info {
    @extend %snackbar-base;
    background-color: #2196f3;
  }
}

body.dark-theme {
  $background-color: mat.get-color-from-palette($dark-primary, 900);
  $surface-color: mat.get-color-from-palette($dark-primary, 800);
  $text-color: mat.get-color-from-palette(mat.$grey-palette, 50);
  $divider-color: mat.get-color-from-palette(mat.$grey-palette, 700);
  $link-color: mat.get-color-from-palette(mat.$light-blue-palette, A200);
  $link-hover-color: mat.get-color-from-palette(mat.$light-blue-palette, A400);

  --sender-card-bg: #0b78dd;
  --receiver-card-bg: #0b78dd;

  background-color: $background-color;
  color: $text-color;

  @include mat.all-component-themes($dark-theme);

  .mat {
    &-toolbar {
      background-color: $surface-color;
      color: $text-color;
    }
    &-sidenav,
    &-sidenav-container {
      background-color: $background-color;
      color: $text-color;
    }
    &-nav-list a {
      color: $text-color;
    }
    &-icon {
      color: $text-color;
    }
  }

  button,
  mat-card {
    background-color: $surface-color;
    color: $text-color;
  }

  mat-divider {
    background-color: $divider-color;
  }

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-hover-color;
    }
  }

  .snackbar {
    &-error {
      @extend %snackbar-base;
      background-color: mat.get-color-from-palette($dark-warn);
    }
    &-success {
      @extend %snackbar-base;
      background-color: #4caf50;
    }
    &-info {
      @extend %snackbar-base;
      background-color: mat.get-color-from-palette($dark-accent);
    }
  }
}
