<div class="settings-container">
    <div class="general">
        <h2>{{'SETTINGS.GENERAL' | transloco}}</h2>
        <div class="dark-mode">
            <h3>{{'SETTINGS.DARKMODE-TOGGLE' | transloco}}</h3>
            <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleTheme()"></mat-slide-toggle>
        </div>

        <div class="language">
            <h3>{{'SETTINGS.LANGUAGE' | transloco}}</h3>
            <mat-form-field>
                <mat-select name="language" placeholder="{{'SETTINGS.LANGUAGE-TOGGLE' | transloco}}" [value]="browserLang" (selectionChange)="toggleLanguage($event.value)">
                    <mat-option value="slo">Slovenščina</mat-option>
                    <mat-option value="en">English</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<mat-divider></mat-divider>